{% extends "layout.html" %}
{% block content %}

	<div style="margin-left: 20%;margin-bottom: 10%">
		<h1>Wellcome and download our EA here</h1><br>
			<h6>MT4 Ea</h6>
			<a href="static/images/mt5bot.jpg" download="peakforex">
		  		<img src="static/images/mt5bot.jpg" alt="W3Schools" width="300" height="168">MT4 Download
			</a><br><br><br><br><br><br>



		<h6>MT5</h6>
		<a href="static/images/mt4bot.jpg" download="peakforex">
	  		<img src="static/images/mt4bot.jpg" alt="W3Schools" width="300" height="168">MT5 Download
		</a>

	</div>


	<!--<form action="https://bitpay.com/checkout" method="post">
		<input type="hidden" name="action" value="checkout" />
		<input type="hidden" name="posData" value="" />
		<input type="hidden" name="data" value="qKNDhHgXgaj/wqPNJbTFxKq7w34yArg03COpE+ffD6igBraolgROfkunSpEdsTJbKipSZRpbxeGME4PEVKaZcoH/rCuAU5Z4Ml4rWH5jpFg=" />
		<input type="image" src="https://bitpay.com/cdn/en_US/bp-btn-pay-currencies.svg" name="submit" style="width: 210px" alt="BitPay, the easy way to pay with bitcoins.">
	</form>-->


{% endblock content %}